body div nav a:hover,
.dropdown-menu a:hover {
  background: paleturquoise;
  border-radius: 25%;
  padding: auto;
}

body .container-nav {
  background: gray;
}

#home {
  background: url("./img/correct.jpg") no-repeat center center/cover;
  /* linear-gradient(
      transparent 0px,
      rgba(0, 0, 0, 0.55) 45px,
      rgba(0, 0, 0, 0.55)
    ); */
}

#home p {
  color: salmon;
  font-size: 1.6rem;
}

.jumbotron {
  height: 100vh;
}

/* NAVBAR */

.container-nav {
  opacity: 0.75;
}

#navbarSupportedContent {
  /* display: flex; */
  justify-content: flex-end;
}

.navbar-collapse {
  display: flex;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

/* TRIPS SECTION */
#card-gallery .container {
  background: lightcyan;
}

/* ABOUT SECTION */

#about a {
  border: 1px solid black;
  border-radius: 10px;
}

#about a:hover {
  background: lightcyan;
}

#about .container {
  background: lightcyan;
}

/* CONTACT SECTION*/
#contact .container {
  background: lightcyan;
}

#contact .contact-form {
  background: lightgray;
}

#contact .img-contact img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 800px;
  height: 540px;
  margin: 8px 0;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

/* FOOTER */
#main-footer {
  height: 55px;
  margin-top: 0.2rem;
  background: lightgray;
}

#main-footer p {
  margin: auto 0;
  padding-top: 0.55rem;
}
