body div nav a:hover,
.dropdown-menu a:hover {
  background: paleturquoise;
  border-radius: 25%;
}

#navbarNavDropdown {
  /* display: flex; */
  justify-content: flex-end;
}

.container-nav {
  opacity: 0.85;
}

.navbar-collapse {
  display: flex;
}

#main-footer {
  height: 55px;
  margin-top: 0.2rem;
  background: lightgray;
}

#main-footer p {
  margin: auto 0;
  padding-top: 0.55rem;
}
